# compiled output
/dist
/apps/*/dist
/packages/*/dist
/packages/*/generated
/node_modules
/apps/*/node_modules
/packages/*/node_modules
/build
/.turbo
/apps/*/.turbo
/packages/*/.turbo
/apps/*/.output
/apps/*/.wxt

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/apps/*/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
/.env.example
docker-compose.shared.env
docker-compose.api.env
docker-compose.worker.env
docker-compose.cloudflared.env
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.env.development
